<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangln.push.wspush.mapper.LogWsConnectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhangln.push.wspush.entity.LogWsConnectEntity">
        <id column="pk_id" property="pkId" />
        <result column="channel_id" property="channelId" />
        <result column="status" property="status" />
        <result column="token" property="token" />
        <result column="client_type" property="clientType" />
        <result column="app" property="app" />
        <result column="user" property="user" />
        <result column="group" property="group" />
        <result column="area_code" property="areaCode" />
        <result column="country" property="country" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="server_host" property="serverHost" />
        <result column="server_port" property="serverPort" />
        <result column="instance_flag" property="instanceFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        pk_id, channel_id, status, token, client_type, app, user, group, area_code, country, create_time, update_time,server_host,server_port,instance_flag
    </sql>

</mapper>
